.order-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  background-color: #F0FBF9;
  font-family: 'Roboto', sans-serif;
}

tbody {
  background-color: #fbfffe;
}

td {
  text-align: center;
  flex-direction: row;
  position: relative;
  border: 1px;
  align-items: center;
}

.item-number {
  background-color: #2fc18c;
  font-weight: 500;
  border-radius: 3px 0px 0px 3px;
}

.item-name{
  background-color: #eaf1ef;
  font-weight: 400;
  font-size: 1rem;
  width: 40%;
}

.item-quantity {
  background-color: #036b52;
  color: #f2fffc;
  font-weight: 500;
  width: 10%;
}

.item-price{
  background-color: #421981;
  color: #f2fffc;
  font-weight: 500;
  width: 15%;
}

.item-subtotal {
  background-color: #096aef;
  color: #f2fffc;
  font-weight: 500;
  border-radius: 0px 3px 3px 0px;
}

.total-price {
  color: #f2fffc;
  background-color: #036b52;
  font-weight: 500;
  font-size: 1.5rem;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  float: right;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}

