:root {

  --primary-color: #036b52;

  --secondary-color: #2fc18c;

  --third-color: #421981;

  --fourth-color: #056cf9;

  --delivered-color: #00cc9b;

  --preparing-color: #6c0;

  --pending-color: #ccb800;

  --login-background: #d6e4e1;

  --text-color: #001813;
}
